---
import Layout from "@layouts/Layout.astro";

import InfoBar from "@components/InfoBar.astro";
import About from "@components/About.astro";
import Interests from "@components/Interests.astro";
import Achievements from "@components/Achievements.astro";
import Experience from "@components/Experience.astro";
import Projects from "@components/Projects.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <main>
    <div class="flex flex-col">
      <InfoBar />
      <div class="pl-6 pr-6 pb-6 flex flex-col gap-2">
        <About />
        <Interests />
        <Achievements />
        <Experience />
        <Projects />
        <Footer />
      </div>
    </div>
  </main>
</Layout>
