---

---

<div>
  <span class="text-2xl">About Me</span>
  <div class="border-t-2 border-dark-10l my-1 w-[15%]"></div>
  <div class="mt-2 flex flex-col gap-2">
    <span>
      I am currently an undergraduate computer science student, a hobbiest
      roboticist, a developer and a programmer.
    </span>
    <span>
      I have always been curious about how and why things work and hence because
      of this curiosity I have always loved building and creating different
      things.
    </span>
    <span>
      I love working on visualizations, websites and scripts that ease my life.
      I have also begun my journey into the world of robotics and electronics by
      slowing building projects with the help of microcontrollers.
    </span>
  </div>
</div>
