---

---

<div>
  <div class="mt-3">
    <span class="text-2xl font-semibold text-dark-85">Achievements</span>
    <div class="border-t-4 border-dark-15 my-1 w-[15%]"></div>
  </div>
  <div class="p-3 max-h-[29rem] overflow-auto">
    <ol class="relative border-s border-dark-25"> 
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-25 rounded-full mt-1.5 -start-[0.4rem] border border-dark-25"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25">
          05 November 2023
        </time>
        <h2 class="text-lg font-medium text-dark-85 my-1">Zypher</h2>
        <p class="mb-5 text-base font-light text-dark-75">
          Stood first in Zypher a CTF event hosted by CysCom VITc with my team
          Triple A Battery
        </p>
      </li>
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-25 rounded-full mt-1.5 -start-[0.4rem] border border-dark-25"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25">
          30 October 2023
        </time>
        <h2 class="text-lg font-medium text-dark-85 my-1">Hacktomania</h2>
        <p class="mb-5 text-base font-light text-dark-75">
          Stood first in Hacktomaina a tech quiz hosted by IEEE CompSoc VITc
          with my team Triple A Battery
        </p>
      </li>
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-25 rounded-full mt-1.5 -start-[0.4rem] border border-dark-25"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25">
          11 October 2023
        </time>
        <h2 class="text-lg font-medium text-dark-85 my-1">Open Source Odessey</h2>
        <p class="mb-5 text-base font-light text-dark-75">
          Spoke about Github and Open Source at Open Source Odessey a seminar by
          GDSC VITc
        </p>
      </li>
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-25 rounded-full mt-1.5 -start-[0.4rem] border border-dark-25"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25">
          04 October 2023
        </time>
        <h2 class="text-lg font-medium text-dark-85 my-1">Code Maze</h2>
        <p class="mb-5 text-base font-light text-dark-75">
          Won Code Maze a competitive programming event by BandVit VITc with my
          team Triple A Battery
        </p>
      </li>
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-25 rounded-full mt-1.5 -start-[0.4rem] border border-dark-25"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25">
          26 September 2023
        </time>
        <h2 class="text-lg font-medium text-dark-85 my-1">Tech Jam</h2>
        <p class="mb-5 text-base font-light text-dark-75">
          Created tutorial videos on Java for Tech Jam an online upskill
          workshop by ACM VITc
        </p>
      </li>
      <li class="ms-5 mb-[-2rem]">
        <div
          class="absolute w-3 h-3 bg-dark-25 rounded-full mt-1.5 -start-[0.4rem] border border-dark-25"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25">
          21 September 2023
        </time>
        <h2 class="text-lg font-medium text-dark-85 my-1">VITSH (SIH)</h2>
        <p class="mb-5 text-base font-light text-dark-75">
          Took part in VITSH an internal hackathon for SIH by VNEST VITc
        </p>
      </li>
    </ol>
  </div>
</div>
