---

---

<div>
  <div class="mt-3">
    <span class="text-3xl">Experience</span>
    <div class="border-t-3 border-dark-10l my-1 mb-2 w-[15%]"></div>
  </div>
  <div class="p-3 max-h-[14rem] overflow-auto">
    <ol class="relative border-s border-dark-25l">
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-10l rounded-full mt-1.5 -start-[0.4rem] border border-dark-10l"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25l">
          November 2023 - present
        </time>
        <h2 class="text-lg font-medium text-light my-1">
          Technical Team Member
        </h2>
        <p class="mb-5 text-base font-light text-dark-75l">
          IEEE Computer Society
        </p>
      </li>
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-10l rounded-full mt-1.5 -start-[0.4rem] border border-dark-10l"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25l">
          August 2023 - present
        </time>
        <h2 class="text-lg font-medium text-light my-1">
          Open Source Team Member
        </h2>
        <p class="mb-5 text-base font-light text-dark-75l">
          Google Developer Student Club
        </p>
      </li>
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-10l rounded-full mt-1.5 -start-[0.4rem] border border-dark-10l"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25l">
          August 2023 - present
        </time>
        <h2 class="text-lg font-medium text-light my-1">
          Technical Team Member
        </h2>
        <p class="mb-5 text-base font-light text-dark-75l">
          Association for Computer Machinary
        </p>
      </li>
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-10l rounded-full mt-1.5 -start-[0.4rem] border border-dark-10l"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25l">
          August 2023 - present
        </time>
        <h2 class="text-lg font-medium text-light my-1">
          Hindi RJ Team Member
        </h2>
        <p class="mb-5 text-base font-light text-dark-75l">Voice IT</p>
      </li>
      <li class="mb-5 ms-4">
        <div
          class="absolute w-3 h-3 bg-dark-10l rounded-full mt-1.5 -start-[0.4rem] border border-dark-10l"
        >
        </div>
        <time class="text-md font-semibold leading-none text-dark-25l">
          August 2023 - present
        </time>
        <h2 class="text-lg font-medium text-light my-1">Reading Team Member</h2>
        <p class="mb-5 text-base font-light text-dark-75l">
          English Literary Society
        </p>
      </li>
    </ol>
  </div>
</div>
