---

---

<div>
  <div class="border-t-4 border-dark-15 my-4 w-full"></div>
  <div class="flex justify-center items-center gap-5 text-3xl text-dark-35">
    <a href="https://in.linkedin.com/in/aditya-jyoti" target="_blank">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/aditya-jyoti" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://twitter.com/adityajyoti_" target="_blank">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  </div>
</div>
