---

---

<div class="sticky top-0 w-full h-full pl-5 pr-5 pt-4 z-10 bg-dark">
  <div class="flex w-full items-center">
    <div class="flex flex-col gap-1 flex-grow ml-1">
      <span class="text-3xl font-semibold">Aditya Jyoti</span>
      <span class="text-sm text-light">/əˈdɪtjə ˈdʒjoʊti/</span>
    </div>
    <div class="flex gap-5 ml-auto mr-2 mt-2 text-3xl text-dark-10l">
      <a href="https://in.linkedin.com/in/aditya-jyoti" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/aditya-jyoti" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://twitter.com/adityajyoti_" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </div>
  </div>
  <div class="border-t-2 border-dark-10l my-4 w-full"></div>
</div>
