---

---

<div class="sticky top-[-1px] w-full h-full pl-5 pr-5 pt-4 z-10 bg-dark-05">
  <div class="flex w-full items-center">
    <div class="flex flex-col gap-1 flex-grow ml-1">
      <span class="text-3xl font-semibold text-dark-85">Aditya Jyoti</span>
      <span class="text-sm text-dark-35 font-semibold">/əˈdɪtjə ˈdʒjoʊti/</span>
    </div>
    <div class="flex gap-5 ml-auto mr-2 mt-2 text-3xl text-dark-35">
      <a href="https://in.linkedin.com/in/aditya-jyoti" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/aditya-jyoti" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://twitter.com/adityajyoti_" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </div>
  </div>
  <div class="border-t-4 border-dark-15 mt-4 mb-2 w-full"></div>
</div>
